<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Order Report</h2>
    </div>
</div>
<div class="main-content" style="padding: 30px;
    margin: 0;
    background-color: white;
    overflow: hidden;">
        <p-table [value]="orders" dataKey="id" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th style="width: 100px;">Id</th>
                    <th pSortableColumn="customerName">Name <p-sortIcon field="customerName"></p-sortIcon>
                    </th>
                    <th>Date</th>
                    <th pSortableColumn="grandTotal">Grand Total <p-sortIcon field="grandTotal"></p-sortIcon>
                    </th>
                    <th pSortableColumn="totalPaid">Total Paid <p-sortIcon field="totalPaid"></p-sortIcon>
                    </th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="order"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                            class="p-button-text p-button-rounded p-button-plain"
                            ></button>
                    </td>
                    <td>{{order.id}}</td>
                    <td>{{order.customerName}}</td>
                    <td>{{order.dateTime | date:'longDate'}}</td>
                    <td>{{order.grandTotal | currency:'EUR'}}</td>
                    <td>{{order.totalPaid | currency:'EUR'}}</td>
                    <td><span [class]="'order-badge order-' + order.statusName.toLowerCase()">{{order.statusName}}</span></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-order>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="order.productOrders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
                                        </th> -->
                                        <th pSortableColumn="productName">Product <p-sortIcon field="productName"></p-sortIcon>
                                        </th>
                                        <!-- <th>Image</th>
                                        <th pSortableColumn="rating">Rating <p-sortIcon field="rating"></p-sortIcon>
                                        </th> -->
                                        <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="amount">Price <p-sortIcon field="amount"></p-sortIcon>
                                        </th>
                                        <th>Discount</th>
                                        <th pSortableColumn="totalAmount">Total <p-sortIcon field="totalAmount"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product>
                                    <tr>
                                        <!-- <td>{{product.id}}</td> -->
                                        <td>{{product.productName}}</td>
                                        <!-- <td><img [src]=\"order.image" [alt]="product.name" width="100" class="p-shadow-4" /></td> -->
                                        <!-- <td>
                                            <p-rating [ngModel]="product.Rating" [readonly]="true" [cancel]="false"></p-rating>
                                        </td> -->
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.amount | currency:'EUR'}}</td>
                                        <td>{{product.discountper}} %</td>
                                        <td>{{product.totalAmount | currency:'EUR'}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</div>